@mixin mobile {
  @media (max-width: 738px) {
      @content;
  }
}

.App {
  text-align: center;


}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 25px 0;

}

.chat {
  height: 400px;
  width: 700px;
  background: #121212;
  margin: 30px;
  border: grey solid 1px;
  border-radius: 15px;
  color: aliceblue;
  text-align: left;
  overflow-y: auto; 
  padding: 10px; 
  margin-top: 0px;

  @include mobile{
    height: 600px;
  }
}


input {
  width: 400px;
  background-color: #121212;
  color: white;
  height: 20px;
  border: none;
  padding: 10px;
  font-size: larger;

  @include mobile{
    width: 260px;
    height: 12px;
    margin-bottom: 2px;
  }
}

input:focus {
  outline: none;
  border: none;
}


.type {
  width: 500px;
  background-color: #121212;
  border-radius: 50px;
  border: grey solid 1px;
  margin: 30px;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 10px;
}

.output {
  margin: 10px;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #121212;
}


::-webkit-scrollbar-thumb {
  background: darkslategrey;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: slategray;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: darkslategrey #121212;
}


.chat:hover {
  scrollbar-color: slategray #121212;
}


img{
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.guest{
  margin-top: 30px;
  font-weight: 600;
  font-size: large;
  display: flex;
  align-items: center;
  gap: 10px;
}
.tony{
  margin-top: 40px;
  font-weight: 600;
  font-size: large;
  display: flex;
  align-items: center;
  gap: 10px;
}
button {
   background-color: #121212;;
   border: none;
   cursor: pointer;
   height: 0px;
   width: 0px;
}