.App {
  text-align: center;

}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 25px 0;
}
.chat {
  height: 400px;
  width: 700px;
  background: #121212;
  margin: 30px;
  border: grey solid 1px;
  border-radius: 15px;
  color: aliceblue;
  text-align: left;
  
}
input{
  width: 400px;
  background-color: #121212;
  color: white;
  height: 20px;
  border: none;
  padding: 10px;
  font-size:larger ;
}
input:focus {
  outline: none;
  border: none;
}
button{
  background-color:darkslategrey;
  color: azure;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.type{
  width: 500px;
  background-color: #121212;
  border-radius: 50px;
  border: grey solid 1px;
  margin: 30px;   
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}